@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  background-color: black;
 
}
.navbar-light {
  background-color: black;
}
.my-link {
  font-size: medium;
 
}
.my-link:hover {
  background-color: #076468;
}
.carousel-caption {
  color:#0d0f45;
}

#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color:#2bacc6 ;
}

#header h2{
  color: #484848;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px  30px;
  border-radius: 50px;
  transition: 0.5s;
  color:#2bacc6;
  border: 2px solid #2bacc6;
  text-decoration: none;
}

#header .btn-get-started:hover{

  background: #2bacc6;
  color: #fff;
}

#header .img {
  text-align: center;
}

#header .animated{
  animation: up-down 2s ease-in-out infinte alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

.register{
  max-width: 978px;
  width: 100vw;
  display: flex;
  background-color: black;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid black;
  color: #fff;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color:#2bacc6 ;
  color: black;
  font-size: 1em;
  cursor: pointer;
}
.btnn{
  background-color: black ;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  color: #fff;
  padding: .9em 1em;
  width: 5px;

}
.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.wcolor{
  color: #fff;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}